<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>商家后台</title>
    <link rel="stylesheet" href="__SELLER__/common/css/pintuer.css">
    <link rel="stylesheet" href="__SELLER__/lib/css/admin.css">
    <script src="__SELLER__/js/jquery.js"></script>
    <script src="__SELLER__/common/js/pintuer.js"></script>
    <script src="__SELLER__/common/js/respond.js"></script>
    <script type="text/javascript" src="__SELLER__/layer/layer.js"></script>
    <script type="text/javascript" src="__SELLER__/js/ajax_alert.js"></script>
    
    <!-- 编辑器 -->
    <link rel="stylesheet" href="__STATIC__/plugin/themes/default/default.css" />
    <script charset="utf-8" src="__STATIC__/plugin/kindeditor-min.js"></script>
    <script charset="utf-8" src="__STATIC__/plugin/lang/zh_CN.js"></script>

    <style>
        body {/*overflow-x:hidden; */background-color: #eff3f6;}
    </style>
</head>