{extend name="public/layout"/}
{block name="style" }
    <link rel="stylesheet" type="text/css" href="__ADMIN__/libs/lyui/dist/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/style.css">
{/block}

{block name="main"}
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            {foreach name="_menu_tab['name']" item="tab_v" }
            <li class="text-muted">{$tab_v}</li>
            {/foreach}
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="builder-tabs builder-form-tabs">
                        <?php $type=input('type/d',0); ?>
                        <ul class="nav nav-tabs">
                            <li {eq name="type" value="0" }class="active"{/eq} >
                                <a href="{:url('orderlist')}">待审核</a>
                            </li>
                            <li {eq name="type" value="1" }class="active"{/eq} >
                                <a href="{:url('orderlist',array('type'=>'1'))}">已通过</a>
                            </li>
                            <li {eq name="type" value="2" }class="active"{/eq} >
                                <a href="{:url('orderlist',array('type'=>'2'))}">已拒绝</a>
                            </li>
                        </ul>
                    </div>
                    <div class="form-group"></div>
                    <div class="builder-container" >
                        <div class="form-group"></div>

                        <!-- 顶部工具栏按钮 -->
                        <div class="builder-toolbar">
                            <div class="row">
                                <!-- 工具栏按钮 -->
                                    <div class="col-xs-12 col-sm-8 button-list clearfix">
                                    </div>
                                   
                                <!-- 搜索框 -->
                                <div class="col-xs-12 col-sm-12 clearfix">
                                        <form class="form" method="get" action="">
                                            <div class="form-group right">
                                                <div style="float:left;width:120px;margin-right:20px" class="">
                                                    <select name="update_type" class="form-control lyui-select select">
                                                        <option value="">类型：</option>
                                                        <option {eq name=":input('get.update_type')" value="1" }selected="true"{/eq}  value="1">修改手机号码</option>
                                                        <option {eq name=":input('get.update_type')" value="2" }selected="true"{/eq}  value="2">修改姓名</option>
                                                        <option {eq name=":input('get.update_type')" value="3" }selected="true"{/eq}  value="3">修改企业名称</option>
                                                        
                                                    </select>                                            
                                                </div>

                                                <div style="float:left;width:150px;margin-right:20px" class="">
                                                    <input type="text" name="date_start" class="search-input form-control date" value="{:input('get.date_start')}" placeholder="开始日期">
                                                </div>
                                                <div style="float:left;width:150px;margin-right:20px" class="">
                                                    <input type="text" name="date_end" class="search-input form-control date" value="{:input('get.date_end')}" placeholder="结束日期">
                                                </div>

                                                <div style="float:left;width:120px;margin-right:20px" class="">
                                                    <select name="querytype" class="form-control lyui-select select">
                                                        <option  value="username">姓名</option>
                                                         <option {eq name=":input('get.querytype')" value="mobile" }selected="true"{/eq}  value="mobile">手机</option>
                                                    </select>                                            
                                                </div>
  
                                                <div style="width:250px" class="input-group search-form">
                                                    <input  type="text" name="keyword" class="search-input form-control" value="{:input('get.keyword')}" placeholder="输入搜索内容">
                                                    <span class="input-group-btn"><a class="btn btn-default search-btn"><i class="fa fa-search"></i></a></span>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                            </div>
                        </div>
                        
                        <!-- 数据列表 -->
                        <div class="builder-container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="builder-table">
                                        <div class="panel panel-default table-responsive">
                                            <table class="table table-bordered table-striped table-hover">
                                              <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>用户</th>
                                                    <th>修改类型</th>
                                                    <th>修改内容</th>
                                                    <th>时间</th>
                                                    <th>状态</th>
                                                    <th>操作</th>
                                                    
                                                </tr>
                                            </thead>
                                                <tbody>
                                                   
                                                    {notempty name="list"}
                                                    {volist name="list" id="data"}
                                                        <tr>
                                                            <td>{$data['id']}</td>
                                                            <td>{$data['username']}({$data['mobile']})</td>
                                                            <td>
                                                            {eq name="$data['update_type']" value="1"}
                                                                修改手机号码
                                                            {/eq}
                                                            {eq name="$data['update_type']" value="2"}
                                                                修改姓名
                                                            {/eq}
                                                            {eq name="$data['update_type']" value="3"}
                                                                修改企业名称
                                                            {/eq}
                                                            </td>
                                                            <td>{$data.new_info}</td>
                                                            <td>{$data['create_time']|date='Y-m-d H:i',###}</td>
                                                            <td>
                                                                {eq name="data['status']" value="0"}待审核{/eq}
                                                                {eq name="data['status']" value="1"}已通过{/eq}
                                                                {eq name="data['status']" value="2"}已拒绝{/eq}
                                                            </td>
                                                           
                                                            <td>
                                                                <a name="edit" title="查看详情" class="label label-primary-outline label-pill" href="{:url('orderdetail',array('id'=>$data['id']))}">详情</a>
                                                            </td>
                                                            
                                                        </tr>
                                                    {/volist}

                                                    {else /}
                                                        <tr class="builder-data-empty">
                                                            
                                                            <td class="text-center empty-info" colspan="20">
                                                                <i class="fa fa-database"></i> 暂时没有数据<br>
                                                            </td>
                                                        </tr>
                                                    {/notempty}
                                                </tbody>
                                            </table>
                                        </div>

                                        {notempty name="table_data_page"}
                                            <ul class="pagination">{$table_data_page}</ul>
                                        {/notempty}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>                   
</div>
{/block}

{block name="script"}
    <script type="text/javascript">
        $('.date').datetimepicker({
            format: 'yyyy-mm-dd',
            language:"zh-CN",
            minView:2,
            autoclose:true,
            todayBtn:1, //是否显示今日按钮
        });
    </script>
    <script type="text/javascript" src="__ADMIN__/libs/lyui/dist/js/lyui.extend.min.js"></script>
{/block}