{extend name="public/layout"/}
{block name="style" }
    <link rel="stylesheet" type="text/css" href="__ADMIN__/libs/lyui/dist/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/style.css">
{/block}

{block name="main"}
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            {foreach name="_menu_tab['name']" item="tab_v" }
            <li class="text-muted">{$tab_v}</li>
            {/foreach}
            <li class="text-muted">{:isset($info)?'修改':'新增'}</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="{:url('save')}" method="post" class="form-horizontal form form-builder" enctype="multipart/form-data" >
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">ID：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" name="id" value="{$info.id|default=''}">
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <label class="left control-label">广告位置：</label>
                                                <div class="right">
                                                    <select name="b_type" class="form-control cui-select select">
                                                        {empty name="info" }
                                                        <option value="">请选择：</option>
                                                        {/empty}
                                                        {foreach name="psdata" key="k" item="v" }
                                                        <option {if condition="isset($info['b_type']) AND ($info['b_type'] eq $k)" }selected="true"{/if} value="{$k}">{$v}</option>
                                                        {/foreach}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">广告名称：</label>
                                                <div class="right">
                                                    <input  type="text" class="form-control input" name="b_name" value="{$info.b_name|default=''}" placeholder="名称" >
                                                </div>
                                            </div>
                                            <div class="form-group item_title ">
                                                <label class="left control-label">广告图片：</label>
                                                <div class="right">
                                                    {notempty name="info['b_img']" }
                                                        <img  style="max-width:300px;max-height:300px;" src="{$info.b_img}" alt="">
                                                    {/notempty}
                                                    <input style="border:none;box-shadow:none" type="file" class="form-control input" name="b_img"  >
                                                </div>
                                            </div>

                                            <div class="form-group item_title ">
                                                <label class="left control-label">广告链接：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="b_link" placeholder="广告链接" value="{$info.b_link|default=''}" >
                                                </div>
                                            </div>
                                             <div class="form-group item_title ">
                                                <label class="left control-label">广告排序：</label>
                                                <div class="right">
                                                    <input type="text" class="form-control input text" name="b_order" value="{$info.b_order|default='0'}" placeholder="默认排序">
                                                </div>
                                            </div>
             
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                            <input class="btn btn-primary" type="submit" value="确定">
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">取消</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
{/block}

{block name="script">
    <script type="text/javascript" src="__ADMIN__/libs/lyui/dist/js/lyui.extend.min.js"></script>
{/block}