{extend name="public/layout"/}
{block name="style" }
    <link rel="stylesheet" type="text/css" href="__ADMIN__/libs/lyui/dist/css/lyui.extend.min.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/style.css">
{/block}

{block name="main"}
   <div id="main" class="col-xs-12 col-sm-9 main" style="overflow-y: scroll;">
        <!-- 面包屑导航 -->
        <ul class="breadcrumb">
            <li><i class="fa fa-map-marker"></i></li>
            {foreach name="_menu_tab['name']" item="tab_v" }
            <li class="text-muted">{$tab_v}</li>
            {/foreach}
            <li class="text-muted">审核</li>
        </ul>

        <!-- 主体内容区域 -->
        <div class="tab-content ct-tab-content">
            <div class="panel-body">
                <div class="builder formbuilder-box">
                    <div class="form-group"></div>
                    <div class="builder-container" >
                            <div class="row" >
                                <div class="col-xs-12">
                                    <form action="{:url('setDataStatus')}" method="post" class="form-horizontal form form-builder">
                                        <div class="form-type-list">
                                            <div class="form-group hidden item_id ">
                                                <label class="left control-label">ID：</label>
                                                <div class="right">
                                                    <input type="hidden" class="form-control input" name="id" value="{$info.id}">
                                                </div>
                                            </div>

                                            <div class="form-type-list">
                                                <input type="hidden" name="order_id" value="57">
                                                <div class="form-group item_title">
                                                    <label class="left control-label">入驻联系信息</label>
                                                    <div style="width:60%" class="right">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td><span style="color:#999">姓名：</span>{$info.con_name}</td>
                                                                    <td><span style="color:#999">手机：</span>{$info.con_mobile}</td>
                                                                    <td><span style="color:#999">邮箱：</span>{$info.con_email}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-type-list">
                                                <input type="hidden" name="order_id" value="57">
                                                <div class="form-group item_title">
                                                    <label class="left control-label">店铺信息</label>
                                                    <div style="width:60%" class="right">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td colspan="3" ><span style="color:#999">店铺名称：</span>{$info.shop_name}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span style="color:#999">店铺负责人：</span>{$info.respon_name}</td>
                                                                    <td><span style="color:#999">负责人手机：</span>{$info.respon_mobile}</td>
                                                                    <td><span style="color:#999">负责人邮箱：</span>{$info.respon_email}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" ><span style="color:#999">店铺所在地：</span>{$info.province}、{$info.city}、{$info.district}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="3" ><span style="color:#999">店铺详细地：</span>{$info.addresss_detail}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span style="color:#999">所属行业：</span>{$info.industry_name}</td>
                                                                    <td colspan="2" ><span style="color:#999">服务费系数：</span>{$info.fee}%</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="form-type-list">
                                                <input type="hidden" name="order_id" value="57">
                                                <div class="form-group item_title">
                                                    <label class="left control-label">会员信息</label>
                                                    <div style="width:60%" class="right">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td><span style="color:#999">类型：</span>{$info.user_type==1 ? '企业用户':'个人用户'}</td>
                                                                    <td><span style="color:#999">会员：</span>{$info.username}({$info.mobile})</td>
                                                                    
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            {eq name="info['user_type']" value='1'}
                                            <div class="form-type-list">
                                                <input type="hidden" name="order_id" value="57">
                                                <div class="form-group item_title">
                                                    <label class="left control-label">已认证信息</label>
                                                    <div style="width:60%" class="right">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td><span style="color:#999">类型：</span>{$info.user_type==1 ? '企业用户':'个人用户'}</td>
                                                                    <td><span style="color:#999">是否三证合一：</span>{$info['is_three_card']==1?'是':'否'}</td>
                                                                    <td><span style="color:#999">是否分公司：</span>{$info['is_child_company']==1?'是':'否'}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><span style="color:#999">税务登记证：</span>{$info['tax_no']}</td>
                                                                    <td><span style="color:#999">社会信用代码：</span>{$info['credit_no']}</td>
                                                                    <td><span style="color:#999">组织机构证：</span>{$info['organize_no']}</td>
                                                                </tr>
                                                                 <tr>
                                                                    <td><span style="color:#999">法人：</span>{$info['legal_name']}</td>
                                                                    <td><span style="color:#999">公司类型：</span>{$info['company_type']}</td>
                                                                    <td><span style="color:#999">经营负责人：</span>{$info['manage_parent']}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                    <a href="{$info.idcard_img_face}">
                                                                       <img style="width:100%" src="{$info.idcard_img_face}" alt=""> 
                                                                       <p style="text-align:center" >正面照</p>
                                                                    </a>
                                                                    </td>
                                                                    <td>
                                                                    <a href="{$info.idcard_img_back}">
                                                                        <img style="width:100%" src="{$info.idcard_img_back}" alt="">
                                                                        <p style="text-align:center" >反面照</p>
                                                                    </a>
                                                                    </td>
                                                                    <td>
                                                                    <a href="{$info.idcard_img_hand}">
                                                                        <img style="width:100%" src="{$info.idcard_img_hand}" alt="">
                                                                        <p style="text-align:center" >手持照</p>
                                                                    </a>
                                                                    </td>
                                                                </tr>
                                                                {notempty name="info['company_license_img']"}
                                                                <tr>
                                                                    <td colspan="3" >
                                                                     <a href="{$info.company_license_img}">
                                                                        <img style="width:33%" src="{$info.company_license_img}" alt="">
                                                                        <p style="text-align:center" >营业执照</p>
                                                                    </a>
                                                                    </td>
                                                                </tr>
                                                                {/notempty}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            {else /}
                                            <div class="form-type-list">
                                                <input type="hidden" name="order_id" value="57">
                                                <div class="form-group item_title">
                                                    <label class="left control-label">已认证信息</label>
                                                    <div style="width:60%" class="right">
                                                        <table class="table table-bordered">
                                                            <tbody>
                                                                <tr>
                                                                    <td><span style="color:#999">证件类型：</span>{$info['idcard_type']==1 ? '非大陆身份证':'大陆身份证'}</td>
                                                                    <td><span style="color:#999">身份证号：</span>{$info.idcard}</td>
                                                                    <td><span style="color:#999">证件有效期：</span>{$info.idcar_startdate} 至 {$info.idcar_endtdate}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                    <a href="{$info.idcard_img_face}">
                                                                       <img style="width:100%" src="{$info.idcard_img_face}" alt=""> 
                                                                       <p style="text-align:center" >正面照</p>
                                                                    </a>
                                                                    </td>
                                                                    <td>
                                                                    <a href="{$info.idcard_img_back}">
                                                                        <img style="width:100%" src="{$info.idcard_img_back}" alt="">
                                                                        <p style="text-align:center" >反面照</p>
                                                                    </a>
                                                                    </td>
                                                                    <td>
                                                                     <a href="{$info.idcard_img_hand}">
                                                                        <img style="width:100%" src="{$info.idcard_img_hand}" alt="">
                                                                        <p style="text-align:center" >手持照</p>
                                                                    </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            {/eq}

                                            <hr />
                                            {if condition="($info['status'] eq 0)" }
                                            <div class="form-group ">
                                                <label class="left control-label">回复信息：</label>
                                                <div style="width:61.5%" class="input-group">
                                                    <input type="text" name="content" class="form-control" >
                                                    <span class="check-tips text-muted small">回复内容、拒绝理由</span>
                                                </div>
                                            </div>

                                            <div class="form-group item_type ">
                                                <label class="left control-label">
                                                    <span>是否通过：</span>
                                                </label>
                                                <div class="right">
                                                    <div class="radio-inline lyui-control lyui-radio">
                                                        <label for="typemodule">
                                                            <input type="radio" id="typemodule" class="radio" name="agree" value="1"> 
                                                            <span class="lyui-control-indicator"></span>
                                                            <span>通过</span>
                                                        </label>
                                                    </div>
                                                    <div class="radio-inline lyui-control lyui-radio">
                                                        <label for="typetheme">
                                                            <input type="radio" id="typetheme" class="radio" name="agree" value="2"> 
                                                            <span class="lyui-control-indicator"></span>
                                                            <span>拒绝</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            {/if}
             
                                        <div class="form-group"></div>
                                        <div class="form-group bottom_button_list">
                                        {if condition="($info['status'] eq 0)" }
                                            <a class="btn btn-primary submit ajax-post" type="submit" target-form="form-builder">确定</a>
                                        {/if}
                                            <a class="btn btn-danger return" onclick="javascript:history.back(-1);return false;">返回</a>
                                        </div>
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
        </div>
    </div>                   
</div>
{/block}

{block name="script"}
    <script type="text/javascript" src="__ADMIN__/libs/lyui/dist/js/lyui.extend.min.js"></script>
{/block}